<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>

<a href="https://ishan-gauri.github.io/Personal-Website/Development/Ishan%20Gauri/index.html"> My personal Website</a>
<%- include("partials/footer"); -%>
