  <%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <a href="mailto:ishangauri98.ig@gmail.com" class="contact-icons"> Mail me <i class="fas fa-envelope"></i> </a> <br>
    <a href="tel:+918826220390" class="contact-icons"> Call me <i class="fas fa-phone"> </i> </a>
<%- include("partials/footer"); -%>
